/* override bootstrap theme */

.navbar {
    border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    line-height: 0px;
}

.navbar-brand {
    padding: 4px;
    height: 68px;
    margin-right: 40px;
}

.navbar-brand img {
    height: 100%;
    width: auto;
    padding: 0px;
    margin-right: 6px;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 20px;
}

.nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar-toggle {
    margin-top: 17px;
    marin-bottom: 17px;
}

.page-header h1 {
    font-size: 26px;
    margin-bottom: 0px;
}

.row-centered {
    text-align:center;
}

.has-error .rw-widget {
    border: 1px solid #a94442;
}

.rw-widget {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* common */

.field-label-align-top {
    padding-bottom: 6px;
}

.field-label-align-left {
    padding-top: 6px;
}

.field-help {
    cursor: pointer;
}

.help-popover {
    max-width: 250px;
}

.field-required {
    color: #CC0000;
    font-size: 7px;
    padding-left: 3px;
    vertical-align: super;
}

/* app styles */

.page-container {
    margin: 80px 20px;
}

/* app nav */

.splitted-nav-button {
    margin-right: 10px;
    margin-top: 9px;
}

.splitted-nav-button .main-button {
    width: 100%;
}

/* form */

.color-field-sketch {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

/* subjects */

.subject {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.2);
    color: rgba(255, 0, 0, 1);
    border-radius: 4px;
    padding: 3px;
    margin: 2px 0px;
    cursor: pointer;
}

.subject-select {
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    cursor: pointer;
}

.subject-name {
    margin: 0 2px 0 2px;
}

.subject-edit {
    margin-right: 1px;
}

.subject-remove {

}