/* override bootstrap theme */

.navbar {
    border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: #00a8e8;
    line-height: 0px;
}

.navbar-brand {
    padding: 4px;
    height: 68px;
    margin-right: 40px;
}

.navbar-brand img {
    height: 100%;
    width: auto;
    padding: 0px;
    margin-right: 6px;
}

.navbar-brand span {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-toggle {
    margin-top: 17px;
    marin-bottom: 17px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.row-centered {
    text-align:center;
}

/* app styles */

.page-container {
    margin: 80px 20px;
}

/* form */

.color-field-sketch {
    border: 1px solid #CCCCCC;
    width: 24px;
    height: 24px;
    cursor: pointer;
}